{% spaceless %}
{{ doctype('xhtml1-trans') }}
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}{% endblock %}{{ title }}</title>

<style type="text/css"> @import "/assets/css/ui-lightness/jquery-ui.custom.css"; @import "/assets/css/base.css"; </style>

<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery-ui.custom.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.layout.js"></script>
<script type="text/javascript" src="/assets/js/jquery.layout.resizePaneAccordions.js"></script>
<script type="text/javascript" src="/assets/js/base.js"></script>
<script type="text/javascript" src="/assets/js/jquery.autoresize.min.js"></script>

{% block headJS %}
{% endblock %}
</head>
<body>
{#
	/*
	 | --------------------
	 |   Loader message
	 | --------------------
	*/
#}
<script type="text/javascript">(function(){$("<div/>",{id:"loadingOverlay","class":"pageOverlay ui-widget"}).html('<div class="loadingMessage">Loading...</div>').appendTo("body")})(jQuery);var siteUrl="{{ site_url() }}/"</script>

{#
	/*
	 | ----------
	 |   North
	 | ----------
	*/
#}
<div class="ui-layout-north">
	<div class="ui-widget">
{% block north %}
{% include "includes/header.twig" %}
{% endblock %}
	</div>
</div>

{#
	/*
	 | ----------
	 |   West
	 | ----------
	*/
#}
<div class="ui-layout-west">
	<div class="ui-widget">
{% block west %}
{% include "includes/catalog.twig" %}
{% endblock %}
	</div>
</div>

{#
	/*
	 | ----------
	 |   Center
	 | ----------
	*/
#}
<div class="ui-layout-center">
	<div class="ui-widget">
{% block center %}{% endblock %}
	</div>
</div>

{#
	/*
	 | ----------
	 |   East
	 | ----------
	*/
#}
<div class="ui-layout-east">
	<div class="ui-widget">
{% block east %}
{% include "includes/advertisement.twig" %}
{% endblock %}
	</div>
</div>

{#
	/*
	 | ----------
	 |   South
	 | ----------
	*/
#}
<div class="ui-layout-south">
	<div class="ui-widget">
{% block south %}
{% include "includes/footer.twig" %}
{% endblock %}
	</div>
</div>

{#
	/*
	 | ----------
	 |   JS Body 
	 | ----------
	*/
#}
{% block bodyJS %}
{% endblock %}
</body>
</html>
{% endspaceless %}