<div class="ui-widget-header ui-corner-top ffs-header">
	<h5>What's on our PROMO!</h5>
</div>

<div class="ui-widget-content ui-corner-bottom">
	<ul id="advertisement" class="ui-list">
		<li>{{ anchor("http://facebook.com", "Facebook") }}</li>
		<li>{{ anchor("http://google.com", "Google") }}</li>
		<li>{{ anchor("http://yahoo.com", "Yahoo!") }}</li>
	</ul>
</div>
