<div class="ui-widget-content ffs-content">
	<div class="float-left">
		<h5>Powered by: {{ anchor("http://codeigniter.com/", "CodeIgniter") }}, {{ anchor("http://www.doctrine-project.org/", "Doctrine") }}, {{ anchor("http://jquery.com/", "jQuery") }} and {{ anchor("http://twig.sensiolabs.org/", "Twig") }}</h5>
	</div>

	<div class="float-right">
		<h5>An IT227 E-Commerce Project, 2011-2012</h5>
	</div>
	<div class="clear"></div>
</div>
